<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/page-a" routerLinkActive="active">page-A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/page-b" routerLinkActive="active">page-B</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lazy" routerLinkActive="active">Lazy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lazy/load-a" routerLinkActive="active">Lazy-A</a>
      </li>
    </ul>
  </div>
</nav>